<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            MyNextStep
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/soon">Φόρμα Αναζήτησης</a></li>
            <li><a href="/soon">Κριτική</a></li>
            <li><a href="/soon">Ιστορικό Αναζητήσεων</a></li>
            
        </ul>
    </div>

</div>
</nav>
