<meta charset="UTF-8">
<title>MyNextStep</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
