<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Σύντομα κοντά σας...</h1>
    </div>
</main>

<footer>
    <a href="/users/logout" class="btn btn-secondary">Αποσύνδεση</a>
    <% include ./partials/footer %>
</footer>

</body>
</html>
