<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="lead mb-3"><b>Η κριτική σας καταχωρήθηκε επιτυχώς!</b> </h1>
        <p>Ευχαριστούμε για τη συμβολή σας ώστε να γίνει η εφαρμογή μας καλύτερη !</p>
    </div>
</main>

<footer>
    <a href="/users/logout" class="btn btn-secondary">Αποσύνδεση</a>
    <% include ./partials/footer %>
</footer>
</body>
</html>

